<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--RiotApiTest-->
    <add key="GameId" value="2499095415"/>
    <add key="ChampionId" value="38"/>
    <add key="SummonerId" value="23748066"/>
    <add key="AccountId" value="37914821"/>
    <add key="SummonerName" value="Ercand"/>
    <add key="Queue" value="RANKED_SOLO_5x5"/>
    <add key="Season" value="Season2017"/>
    <!--StaticRiotApiTest-->
    <add key="StaticRegion" value="na"/>
    <add key="StaticChampionId" value="1"/>
    <add key="StaticChampionName" value="Annie"/>
    <add key="StaticItemId" value="1001"/>
    <add key="StaticItemName" value="Boots of Speed"/>
    <add key="StaticMasteryId" value="6111"/>
    <add key="StaticMasteryName" value="Fury"/>
    <add key="StaticRuneId" value="5001"/>
    <add key="StaticRuneName" value="Lesser Mark of Attack Damage"/>
    <add key="StaticSummonerSpellName" value="Barrier"/>
    <!--StatusApiTest-->
    <add key="StatusRegion" value="na"/>
    <!--CommonDataTest-->
    <add key="ApiKey" value=""/>
    <add key="CommonPlatform" value="NA1"/>
  </appSettings>
</configuration>
