@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
    ViewBag.Leaderboards = "active";
}

<div id="flex-container" style="display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-align: center;-webkit-align-items: center;-webkit-box-align: center;align-items: center;flex-direction: column;">
    <div id="flex-item" style="padding: 100px;">
        <span style="font-size: 128px;font-weight: 800;">404</span>
        <p style="font-size: 48px;font-weight: 800;">Page cannot be found.</p>
        <p style="font-size: 22px;color: #666;">The page you have requested does not exist</p>
    </div>
</div>